In [7]:
# Proyecto Outgrower

In [8]:
import pandas as pd

In [9]:
from matplotlib import pyplot as plt

In [10]:
germ = pd.read_csv("germination.csv")

In [11]:
germ

     Unnamed: 0  temp species  start   end  germinated
0             1    10   wheat      0   1.0           0
1             2    10   wheat      1   2.0           0
2             3    10   wheat      2   3.0           0
3             4    10   wheat      3   4.0           0
4             5    10   wheat      4   5.0           0
..          ...   ...     ...    ...   ...         ...
187         188    40    rice     13  14.0           0
188         189    40    rice     14  16.0           0
189         190    40    rice     16  17.0           0
190         191    40    rice     17  18.0           0
191         192    40    rice     18   inf          12

[192 rows x 6 columns]

In [12]:
rice = germ[germ.species == "rice"]

In [13]:
rice

     Unnamed: 0  temp species  start   end  germinated
40           41    16    rice      0   2.0           0
41           42    16    rice      2   3.0           0
42           43    16    rice      3   4.0           0
43           44    16    rice      4   5.0           0
44           45    16    rice      5   6.0           0
..          ...   ...     ...    ...   ...         ...
187         188    40    rice     13  14.0           0
188         189    40    rice     14  16.0           0
189         190    40    rice     16  17.0           0
190         191    40    rice     17  18.0           0
191         192    40    rice     18   inf          12

[79 rows x 6 columns]

In [14]:
wheat = germ[germ.species == "wheat"]

In [15]:
wheat

     Unnamed: 0  temp species  start   end  germinated
0             1    10   wheat      0   1.0           0
1             2    10   wheat      1   2.0           0
2             3    10   wheat      2   3.0           0
3             4    10   wheat      3   4.0           0
4             5    10   wheat      4   5.0           0
..          ...   ...     ...    ...   ...         ...
170         171    40   wheat     13  14.0           0
171         172    40   wheat     14  16.0           0
172         173    40   wheat     16  17.0           0
173         174    40   wheat     17  18.0           0
174         175    40   wheat     18   inf          17

[99 rows x 6 columns]

In [16]:
mungbean = germ[germ.species == "mungbean"]

In [17]:
mungbean

    Unnamed: 0  temp   species  start  end  germinated
17          18    10  mungbean      0  2.0           0
18          19    10  mungbean      2  3.0           4
19          20    10  mungbean      3  4.0           0
20          21    10  mungbean      4  5.0           0
21          22    10  mungbean      5  6.0           9
22          23    10  mungbean      6  7.0           7
23          24    10  mungbean      7  inf           0
55          56    16  mungbean      0  1.0           0
56          57    16  mungbean      1  2.0           1
57          58    16  mungbean      2  3.0           7
58          59    16  mungbean      3  4.0          12
59          60    16  mungbean      4  5.0           0
60          61    16  mungbean      5  6.0           0
61          62    16  mungbean      5  inf           0